<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Console API</title>
    <script src="main.js" defer></script>
  </head>
  <body>
    <h1><code>console api</code> demo</h1>

<template id="console-template">
  <div>
    <h2>Console API</h2>
    <slot name="fullname">NAME MISSING</slot>
    <ul>
      <li><slot name="skill">SKILL MISSING</slot></li>
      <li><slot name="skill">SKILL MISSING</slot></li>
    </ul>
  </div>
</template>

    <cz-console-1>
      <span slot="fullname">Rodrigo Buenavida</span>
      <span slot="skill">rata</span>
    </cz-console-1>

  </body>
</html>